.navContainer {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 1rem;
  background-color: #535bf2;
}

.navLink:hover {
  border-bottom: 2px solid #fff;
}
.navLink {
}
.navCartIcon {
}
