/* ProductList.module.css */

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 4.8rem;
  padding: 2rem;
  justify-items: center;
  align-items: stretch;
}
